<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/ig_susovan_137/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/susovan-paul-99807b296/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://x.com/pal_susovan137"><i class="fa-brands fa-square-twitter"></i></a>
        </div>
        <div class="f-info-brand"> &copy; NextDestination Private limited || Created By Susovan Paul</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/privacy">Services</a>
            <a href="/terms">Facebook</a>
        </div>
    </div>
</footer>