<style>
  .search-input{
    border: 2px solid #2C3E50;
    width: 25rem;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  @media(max-width:700px){
    .search-input{
      width: 15rem;
    }
    .profileIcon{
      border: none;
    }
  }
  .logo {
    width: 70px;            
    height: 70px;      
    border-radius: 50%;       
    display: inline-block;      
    vertical-align: middle;     
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><img class="logo" src="https://res.cloudinary.com/dtnupwprt/image/upload/v1730049880/next_destination/tidks2ms4ffknylshqeu.jpg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
          <a class="nav-link" href="/listings/new">NextDesti your home</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form class="d-flex" action="/listings/search" method="GET" role="search">
            <input class="form-control me-2 search-input" type="search" name="query" placeholder="Search Your Next Destination">
            <button class="btn btn2" type="submit">Search</button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <%if(!currUser){%>
            <a href="/login" class="profileIcon"><i class="fa-solid fa-user"></i> Profile</a>
          <%}%>
          <%if(currUser){%>
            <a href="/profile/<%=currUser._id%>" class="profileIcon"><i class="fa-solid fa-user"></i> Profile</a>
          <%}%>
        </div>        
      </div>
    </div>
  </nav>
