<% layout("layouts/boilerplate") %>

<div class=" row mt-3">
    <div class="alert alert-danger d-flex col-6 offset-3" role="alert">
        <i class="fa-solid fa-triangle-exclamation"> </i><%=err.message%>
    </div>
</div>

<div class=" row mt-3">
    <img  class="errorImg col-6 offset-3" src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg?semt=ais_hybrid" alt="">
</div>